<h1>Write a review for <%= @restaurant.name %></h1>

<%= simple_form_for [@restaurant, @review] do |f| %>
  <p>Review:</p>
  <%= f.input :content, :label => "", id: "review_content" %>
  <p>Add a rating</p>
  <%= f.input :rating, :label => "" %>
  <%= f.submit "Add a review:", class: "btn btn-primary" %>
<% end %>
